<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/icon.png">
    </head>
    <body>
        <div class="main">
        {{>header}}
        <p>This app uses mapbox and openweather data to fetch weather. Enter the location and click search.
            To match locations enter more number of keywords.
        </p>
        </div>
        
        {{>footer}}
    </body>
</html>